
h1, h2 {
  font-family: 'Montserrat', sans-serif !important;
  color: #337ab7 !important;
}

#task_details {
    font-family: 'Montserrat', sans-serif !important;
    color: #337ab7 !important;
    margin-top: 20px;
    margin-bottom: 1rem;
    border-width: thin;
    background-color: #fafafa;
    border-radius: 4px;
    font-size: 20px;
    height: 60px;
}



.container {
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:30px;
}

#task_status {
    display: flex;
    font-size: 20px;
    color: #C7C7C7;
}

ul {
  list-style-type: none;
  font-size:20px;
  padding-left: 0px;
  background-color: #fafafa
}

a {
  text-decoration: none !important;
  color: rgb(40, 40, 40)
}

button {
  padding:8px;
  background-color: #337ab7;
  font-size: 16px;
  border-radius: 5px;
  border-style: none;
  margin:5px;
}

button a {
  color: white;
}

button.back_to_list {
  font-size: 10px;
  padding:5px;
  color: rgb(100, 100, 100);
  background-color: grey;
  color: black;
  margin-left: 0px;
}

.btn-primary {
  padding:8px;
  background-color: #337ab7;
  font-size: 16px;
  border-radius: 5px;
}

.form-control {
  font-size: 20px;
}
